*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* Header partie 1*/
#header_logo{
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
}
#logo{
    transform: scale(0.7);
}
#geo_header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #DCDCDC;
    height: 65px;
    padding-top: 20px;
    box-shadow: inset 0px 3.5px 0px 0px #cfcfcf;
}
#icon_position{
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
}
#input-geo{
    height: 2.5vh;
    margin-bottom: 10px;
    font-size: 1.1rem;
    border: none;
    font-weight: bold;
    background-color: transparent;
}

/* Header partie 2 */
#group_header{
    display: flex;
    background: #f0f0f0;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}
h1, h2{
    font-family: 'Shrikhand', cursive;
}
#titre_info{
    margin-left: 30px;
}
#espace{
    margin-top: 20px;
    font-size: 20px;
}
/* Bouton */
.bouton_number_one{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    border-radius: 10rem;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 1000ms;
    background: linear-gradient( rgba(235,114,218,1) 0%, rgba(176,95,219,1) 100%);
}
button:hover {
    transform: scale(1.15);
}

.container_body{
    margin-left: 280px;
}

/* Navigation */
.new2{
    background-color: RGB(166, 233, 214);
    width: 100px;
    position: absolute;
    height: 30px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-left: 220px;
    color: green;
}
.bouton_nav{
    width: 330px;
    height: 60px;
    border: 0px;
    border-radius: 20px;
    text-align: start;
    font-size: 17px;
    font-weight: bold;
    transform: scale(1);
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 70px;
    transition-property: transform;
    transition-duration: 1000ms;
    box-shadow: 2px 5px 16px 0px lightgray, 5px 5px 15px 5px rgba(0,0,0,0);
}
.titre_nav{
    margin-top: 50px;
    margin-bottom: 30px;
}
.number_nav{
    background-color: #9356dc;
    width: 20px;
    transform: scale(1.1);
    border-radius: 100px;
    text-align: center;
    position: absolute;
    z-index: 2;
}
.icon2{
    transform: scale(1.2);
    margin-left: 10px;
    margin-right: 20px;
}
.bouton_nav:hover{
    background-color: rgb(252, 215, 235);
    transform: scale(1.05);
    box-shadow: 2px 5px 16px 0px black, 5px 5px 15px 5px rgba(0,0,0,0);
}
.bouton_nav:hover i{
    color: #9356dc;
}
.nav_hover1::before{
    content: '1';
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: -10px;
    background-color: #9356dc;
}
.nav_hover2::before{
    content: '2';
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: -10px;
    background-color: #9356dc;
}
.nav_hover3::before{
    content: '3';
    border-radius: 50%;
    padding: 5px;
    text-align: center;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: -10px;
    background-color: #9356dc;
}


/*Partie Restaurant */
.restaurant_container{
    background-color: #f0f0f0;
}
.titre_restaurant{
    margin-left: 220px;
    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 20px;
}

/* Carte Menu */
.container_card{
    width: 330px;
    height: 36vh;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 50px;
} 
.content_row_card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img_cards{
    height: 26vh;
    display: flex;
}
.img_rest{
    width: 330px;
}
.img_rest2{
    width: 330px;
    object-fit: cover;
}
h4{
    margin-bottom: 3px;
}
.text_cards{
    height: 10vh;
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: #fff;
    align-items: center;
}
.body_10{
    width: 100%;
}
.new_button{
    position: absolute;
    margin: 10px;
    border: none;
    width: 70px;
    text-align: center;
    padding-top: 3px;
    height: 25px;
    margin-left: 250px;
    color: #139273;
    border-radius: 2px;
    font-weight: bold;
    background-color: #99E2D0;
}
.text_mini_container{
    width: 150%;
}
.text_mini_container:hover{
    cursor: pointer;
}
.margin_footer{
    margin-bottom: 60px;
}

/* Coeur */
.coeur{
    width: 27px;
    height: 25px;
    cursor: pointer;
    margin-left: auto;
    border: none;
    background-color: white;
    position: relative;
    margin-right: 20px;
}

.fa-heart{
    font-size: 28px;
    color: transparent;
    position: absolute;
    left: 0;
    top: -1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.coeur:focus .fa-heart{
    background-clip: text;
    -webkit-background-clip: text;
    animation: remplissage 0.2s forwards;
    -webkit-text-stroke-width: 0;
}

.fa-heart:hover{
    background-clip: text;
    -webkit-background-clip: text;
    animation: remplissage 0.2s forwards;
    -webkit-text-stroke-width: 0;
}

@keyframes remplissage{
        0%{
        background-image: linear-gradient(175deg, transparent 100%, #fc91de 0%, #a778e2 0%);
    }
        5%{
        background-image: linear-gradient(175deg, transparent 70%, #fc91de 1%, #a778e2 2%);
    }
        10%{
        background-image: linear-gradient(175deg, transparent 90%, #fc91de 5%, #a778e2 5%);
    }
        15%{
        background-image: linear-gradient(175deg, transparent 85%, #fc91de 7%, #a778e2 8%);
    }
        20%{
        background-image: linear-gradient(175deg, transparent 80%, #fc91de 10%, #a778e2 10%);
    }  
        25%{
        background-image: linear-gradient(175deg, transparent 75%, #fc91de 12%, #a778e2 13%);
    }
        30%{
        background-image: linear-gradient(175deg, transparent 70%, #fc91de 15%, #a778e2 15%);
    }
        35%{
        background-image: linear-gradient(175deg, transparent 65%, #fc91de 17%, #a778e2 18%);
    }
        40%{
        background-image: linear-gradient(175deg, transparent 60%, #fc91de 20%, #a778e2 20%);
    }
        45%{
        background-image: linear-gradient(175deg, transparent 55%, #fc91de 22%, #a778e2 23%);
    }
        50%{
        background-image: linear-gradient(175deg, transparent 50%, #fc91de 25%, #a778e2 25%);
    }
        55%{
        background-image: linear-gradient(175deg, transparent 45%, #fc91de 27%, #a778e2 28%);
    }
        60%{
        background-image: linear-gradient(175deg, transparent 40%, #fc91de 30%, #a778e2 30%);
    }
        65%{
        background-image: linear-gradient(175deg, transparent 35%, #fc91de 32%, #a778e2 33%);
    }
        70%{
        background-image: linear-gradient(175deg, transparent 30%, #fc91de 35%, #a778e2 35%);
    }
        75%{
        background-image: linear-gradient(175deg, transparent 25%, #fc91de 37%, #a778e2 38%);
    }
        80%{
        background-image: linear-gradient(175deg, transparent 20%, #fc91de 40%, #a778e2 40%);
    }
        85%{
        background-image: linear-gradient(175deg, transparent 15%, #fc91de 42%, #a778e2 43%);
    }
        90%{
        background-image: linear-gradient(175deg, transparent 10%, #fc91de 45%, #a778e2 45%);
    }
        95%{
        background-image: linear-gradient(175deg, transparent 5%, #fc91de 47%, #a778e2 48%);
    }
        100%{
        background-image: linear-gradient(175deg, #fc91de , #a778e2);
    }
}
.coeur:visited fa-heart{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(175deg, #fc91de, #a778e2);
}


/* Footer */
footer{
    background-color: #353535;
    color: white;
    height: 30vh;
    text-align: center;
}
.logo2{
    width: 115px;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.icon4{
    margin-right: 8px;
}

.icon_width{
    width: 14px;
    transform: scale(0.8);
}
.padding_footer{
    margin-left: 20px;
    padding-bottom: 7px;
    color: white;
}
.h2_footer{
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
a{
    color: black;
    text-decoration: none;
}



/* Menu.html */
/* Header */
.contenant_header_menu{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}
.icon_return{
    width: 700px;
    margin-left: 100px;
    transform: scale(1.2);
}
.logo_menu{
    width: 200px;
}

/* Palette de goût */
.section_menu{
    background-color: #f0f0f0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.contenant_img_menu{
    display: flex;
    width: 100%;
    height: 640px;
    position: absolute;
    z-index: -1;
}
.titre_nav_menu{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    background-color: #f0f0f0;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 600px;
}
.contenant_text_menu{
    margin-left: 20px;
}
#titre_menu2{
    width: 85%;
}
.img_width_mn{
    position: relative;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}
#mini_text{
    display: flex;
}
.coeur2{
    width: 27px;
    height: 25px;
    margin: 0;
    margin-left: 110px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    position: relative;
}

/* Cards */
.card {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 20px;
    box-shadow: 5px 0px 20px 0px rgba(0,0,0,0.46);
    background-color: #fff;
    cursor: pointer;
}

.desc {
    padding: 5px;
}
.prix {
    margin-left: auto;
    font-weight: 900;
    padding-right: 2rem;  
    display: flex;
    margin-bottom: 3px;
    align-items: flex-end;  
}
.check {
    background: #99e2d0;
    margin-right: -4.1rem;
    width: 3rem;
    padding-top: 2px;
    padding-right: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: margin-right 500ms;    
}
.card:hover .check {
    margin-right: 0;
}
.icon {
    color: white;  
    padding-left: 25px;
    padding-top: 15px;
}
.card:hover .icon {
    transform: rotate(360deg);   
    transition: transform 1000ms;
    transform-origin: 80% 80%;  
}
.overflow
{   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bar_pa{
    margin-top: 25px;
    border-bottom: 4px solid #99e2d0;
    width: 40px;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 15px;
}
.bar_pa2{
    margin-left: 20px;
    margin-top: 35px;
    border-bottom: 4px solid #99e2d0;
    width: 40px;
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 15px;
}
.color_button{
    color: white;
}
/* animation menu */*
.all_cards1, .all_cards2, .all_cards3{
    display: flex;
}
.all_cards1{
    animation: fadein 1s; 
}
.all_cards2{
    animation-delay: 2000ms;
    animation: fadein 2s;
}
.all_cards3{
    animation-delay: 3000ms;
    animation: fadein 4s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}


/* Menu 2 */
.img_width_mn2{
    width: 375px;
}
.commander{
    display: flex;
    margin: 50px 0;
    justify-content: center;
}

/* Barre de chargement */
.contenant_loading{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 29, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: opacity 3.5s linear;
    animation-fill-mode: forwards;
    position: absolute;
    z-index: 10;
}
.charg{
    color: white;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.loader{
    border: 5px solid #00968f;
    width: 600px;
    height: 3vh;
    border-radius: 20px;
}
.remplissage{
    width: 100%;
    height: 100%;
    background-color: #b3e0dd;
    border-radius: 20px;
    animation: loading 3s forwards cubic-bezier(0,0,0,0);
}
.scroll{
    animation: scrolling 6s forwards cubic-bezier(0,0,0,0);
}


@keyframes loading{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
@keyframes opacity{
    0%{
        opacity: 100%;
        z-index: 10;
    }
    70%{
        opacity: 80%;
    }
    99%{
        z-index: 10;
    }
    100%{
        opacity: 0%;
        z-index: -10;
    }
}
@keyframes scrolling{
    0%{
        overflow-y: hidden;
    }
    100%{
        overflow-y: scroll;
    }
}






@media screen and (max-width: 900px){
    /* Header partie 1*/
    #logo{
        transform: scale(0.45);
    }

    #titre_info{
        padding-top: 50px;
        margin-left: 0px;
        text-align: center;
    }
    /* Header partie 1*/
    #group_header{
        height: 200px;
        flex-direction: column;
        height: auto;
    }
    .bouton_number_one{
        margin: 50px;
    }
    .container_card{
        margin-left: 0px;
        margin-left: 10px;
        
    } 
    .bouton_nav{
        margin-left: 10px;
    }
    .titre_nav{
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .titre_restaurant{
        margin-left: 54px;
    }
    .titre_nav_menu{
        width: 100%;
    }
    .card {
        width: 95%;
        animation-duration: 2s;
        animation-name: tablette;
    }
    .all_cards1, .all_cards2, .all_cards3{
        display: block;
    }
    .img_width_mn{
        position: relative;
        max-width: 100%;
        width: 850px;
        object-fit: cover;
    }
    .container_body{
        margin-left: 25px;
    }
    .commander{
        margin: 0;
    }
    .contenant_img_menu{
        height: 380px;
    }
    .titre_nav_menu{
        margin-top: 340px;
    }
    .icon_return{
        width: 250px;
        margin-left: 70px;
    }  
    .coeur2{
        margin-left: 40px;
    }
}

@media screen and (max-width: 650px){
    .container_card{
        margin-left: 0px;
    } 
    .titre_restaurant{
        margin-left: 25px;
    }
    .titre_nav_menu{
        width: 100%;
    }
    .card {
        width: 340px;
        animation-duration: 2s;
        animation-name: tel;
    }
    .contenant_img_menu{
        height: 240px;
    }
    .titre_nav_menu{
        margin-top: 200px;
    }
    .icon_return{
        width: 80px;
        margin-left: 20px;
    } 

    .contenant_loading{
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 29, 27);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: opacity 3.5s linear;
        animation-fill-mode: forwards;
        position: absolute;
        z-index: 10;
    }
    .charg{
        color: white;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .loader{
        border: 5px solid #00968f;
        width: 300px;
        height: 3vh;
        border-radius: 20px;
    }
    .remplissage{
        width: 100%;
        height: 100%;
        background-color: #b3e0dd;
        border-radius: 20px;
        animation: loading 3s forwards cubic-bezier(0,0,0,0);
    }
    .coeur2{
        margin-left: 0px;
    }
    footer{
        text-align: start;
    }
}
